body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  position: relative;
  display: inline-block;
}

.map-img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.game-button {
  position: absolute;
  top: 63%;
  right: 52%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 120ms ease;
}
.game-button:hover {
  transform: scale(1.2);
}

.avatar-button {
  position: absolute;
  top: 21%;
  right: 56%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 120ms ease;
}
.avatar-button:hover {
  transform: scale(1.2);
}

.shop-button {
  position: absolute;
  top: 45%;
  right: 47%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 120ms ease;
}
.shop-button:hover {
  transform: scale(1.2);
}

.info-button {
  position: absolute;
  top: 50%;
  right: 52%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 120ms ease;
}
.info-button:hover {
  transform: scale(1.2);
}

.game-img,
.avatar-img,
.shop-img,
.info-img {
  width: 50px;
  height: 50px;
}

.info-img {
  width: 40px;
  height: 40px;
}
